@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&family=Open+Sans:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* root */

* {
    transition: background 250ms ease-in-out;
    font-family: 'Nunito Sans';
}


.dark {
    background: rgb(22, 29, 39);
}

/* header */

.header-links {
    border-bottom: 4px solid;
    padding-bottom: 40px;
}

.header-links a {
    font-weight: 600;
    color: rgb(22, 29, 39);
    z-index: 10;
    border-bottom: 5px dotted transparent;
}

.header-links a.active {
    border-bottom: 5px dotted;
}

.header-links a:hover {
    border-bottom: 5px dotted;
}

.header-links .header-link-romantic.active {
    color: rgb(177, 87, 165);
}

.header-link-romantic:hover {
    color: rgb(177, 87, 165);
}

.header-links .header-link-platonic.active {
    color: rgb(87, 125, 177);
}

.header-link-platonic:hover {
    color: rgb(87, 125, 177);
}

.header-links .header-link-sentimental.active {
    color: rgb(87, 177, 140);
}

.header-link-sentimental:hover {
    color: rgb(87, 177, 140);
}

.header-links .header-link-random.active {
    color: rgb(177, 153, 87);
}

.header-link-random:hover {
    color: rgb(177, 153, 87);
}


.dark .header-links {
    border-bottom: 4px solid rgb(190, 190, 190);
}

.dark .header-links a {
    color: rgb(226, 226, 226);
}

.dark .header-links .header-link-romantic.active {
    color: rgb(206, 146, 198);
}

.dark .header-link-romantic:hover {
    color: rgb(206, 146, 198);
}

.dark .header-links .header-link-platonic.active {
    color: rgb(141, 170, 210);
}

.dark .header-link-platonic:hover {
    color: rgb(141, 170, 210);
}

.dark .header-links .header-link-sentimental.active {
    color: rgb(117, 209, 171);
}

.dark .header-link-sentimental:hover {
    color: rgb(117, 209, 171);
}

.dark .header-links .header-link-random.active {
    color: rgb(215, 193, 130);
}

.dark .header-link-random:hover {
    color: rgb(215, 193, 130);
}

/* footer */

.footer {
    border-top: 4px solid;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 50px;
    z-index: 10;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 20px;
}

.footer-middle a {
    height: fit-content;
    color: rgb(55, 55, 55);
    border-bottom: 4px dotted transparent;
}

.footer-middle a:hover {
    border-bottom: 4px dotted;
}


.dark .footer {
    border-top: 4px solid rgb(190, 190, 190);
}

.dark .footer-logo h1 {
    color: rgb(226, 226, 226);
}

.dark .footer-middle a {
    color: rgb(190, 190, 190);
}