@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&family=Open+Sans:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* root */

:root {
    --romantic: rgb(230, 193, 225);
    --romantic-dark: rgb(167, 124, 162);
    --platonic: rgb(174, 194, 224);
    --platonic-dark: rgb(120, 145, 179);
    --senti: rgb(161, 226, 199);
    --senti-dark: rgb(111, 182, 152);
    --random: rgb(233, 217, 173);
    --random-dark: rgb(201, 182, 128);
}

* {
    transition: background 250ms ease-in-out;
    font-family: 'Nunito Sans';
}


.dark {
    background: rgb(22, 29, 39);
}

/* header */

.header-links {
    border-bottom: 4px solid;
    padding-bottom: 40px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background: white;
    z-index: 10;
}

.header-links a {
    font-weight: 600;
    color: rgb(22, 29, 39);
    border-bottom: 5px dotted transparent;
}

.header-links a.active {
    border-bottom: 5px dotted;
}

.header-links a:hover {
    border-bottom: 5px dotted;
}

.header-links .header-link-romantic.active, 
.header-link-romantic:hover {
    color: var(--romantic);
}

.header-links .header-link-platonic.active,
.header-link-platonic:hover {
    color: var(--platonic);
}

.header-links .header-link-sentimental.active,
.header-link-sentimental:hover {
    color: var(--senti);
}

.header-links .header-link-random.active,
.header-link-random:hover {
    color: var(--random);
}

.dark .header-links {
    border-bottom: 4px solid rgb(190, 190, 190);
    background: rgb(22, 29, 39);
}

.dark .header-links a {
    color: rgb(226, 226, 226);
}

.dark .header-links .header-link-romantic.active,
.dark .header-link-romantic:hover {
    color: var(--romantic-dark);
}

.dark .header-links .header-link-platonic.active,
.dark .header-link-platonic:hover {
    color: var(--platonic-dark);
}

.dark .header-links .header-link-sentimental.active,
.dark .header-link-sentimental:hover {
    color: var(--senti-dark);
}

.dark .header-links .header-link-random.active,
.dark .header-link-random:hover {
    color: var(--random-dark);
}

/* footer */

.footer {
    border-top: 4px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background: white;
}

.footer-elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 50px;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 20px;
}

.footer-middle a {
    height: fit-content;
    color: rgb(55, 55, 55);
    border-bottom: 4px dotted transparent;
}

.footer-middle a:hover {
    border-bottom: 4px dotted;
}


.dark .footer {
    border-top: 4px solid rgb(190, 190, 190);
    background: rgb(22, 29, 39);
}

.dark .footer-logo h1 {
    color: rgb(226, 226, 226);
}

.dark .footer-middle a {
    color: rgb(190, 190, 190);
}

/* notes layout */

.notes {
    margin: 0 100px;
    padding-bottom: 200px;
}

.notes-desc {
    color: rgb(55, 55, 55);
    margin: 40px 16px;
}

.notes-note {
    background: rgb(241, 240, 233);
    height: 300px;
    width: 300px;
    margin: 16px 16px;
}

.note-number {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    font-weight: 700;
    position: relative;
    height: 34px;
}

.romantic {
    background: var(--romantic);
}

.platonic {
    background: var(--platonic);
}

.senti {
    background: var(--senti);
}

.random {
    background: var(--random);
}

.note-body {
    height: 266px;
    width: 100%;
    padding: 14px 20px;
    position: relative;
}

.note-body h1 {
    font-weight: 700;
    margin-bottom: 6px;
}

.note-story {
    width: 100%;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-body span {
    position: absolute;
    bottom: 26px;
    right: 20px;
    border-bottom: 1px solid transparent;
    line-height: 14px;
    font-weight: 500;
    color: rgb(55, 55, 55);
}

.note-body span:hover {
    border-bottom: 1px solid;
    cursor: pointer;
}

.notes-show-more p {
    color: rgb(150, 150, 150);
}

.notes-show-more button {
    margin-top: 12px;
    background: rgb(22, 29, 39);
    border: 2px solid transparent;
    color: white;
    border-radius: 6px;
    padding: 4px 14px;
}

.notes-show-more button:hover {
    background: rgb(55, 63, 75);
    border: 2px solid #adadad;
}


.dark .notes-desc {
    color: rgb(190, 190, 190);
}

.dark .notes-note {
    background: rgb(35, 44, 57);
}

.dark .note-number {
    color: rgb(250, 250, 250);
}

.dark .note-body {
    color: rgb(208, 208, 208);
}

.dark .note-body span {
    color: rgb(190, 190, 190);
}

.dark .romantic {
    background: var(--romantic-dark);
}

.dark .platonic {
    background: var(--platonic-dark);
}

.dark .senti {
    background: var(--senti-dark);
}

.dark .random {
    background: var(--random-dark);
}

.dark .notes-show-more p {
    color: rgb(162, 162, 162);
}

.dark .notes-show-more button {
    background: rgb(241, 240, 233);
    color: black;
}

.dark .notes-show-more button:hover {
    background: rgb(202, 200, 190);
    border: 2px solid #6b6b6b;
}

/* popup */

.popup-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #444;
    z-index: 20;

    opacity: 0;
    transition: 250ms ease-in-out;
    visibility: hidden;
}

.popup {
    height: 700px;
    width: 400px;
    position: fixed;
    padding: 12px 16px;
    box-sizing: border-box;
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    background: rgb(121, 191, 222);

    transition: 250ms ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.open-popup-bg {
    visibility: visible;
    opacity: 0.6;
}

.open-popup {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/* create confession */

.submit-story {
    margin: 110px auto;
    height: 580px;
    max-width: 830px;
    padding: 40px 46px;
    background: rgb(241, 240, 233);
    border-top: 45px dotted white;
    box-sizing: border-box;
    transition: border-top 250ms, background 250ms;
}

.submit-header {
    line-height: 30px;
    margin-bottom: 20px;
}

.submit-header h1 {
    font-weight: 700;
}

.submit-header p {
    font-weight: 500;
    color: rgb(144, 144, 144);
}

.submit-body {
    font-weight: 500;
}

.submit-body span {
    line-height: 30px;
}

.submit-body form input[type=text] {
    background: transparent;
    padding: 0 14px;
    text-align: center;
    border-bottom: 3px dashed rgb(144, 144, 144);
}

.submit-body textarea {
    margin-top: 20px;
    background: transparent;
    text-align: center;
    width: 100%;
    border-bottom: 3px dashed rgb(144, 144, 144);
}

.submit-body form input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.submit-body form button {
    border-radius: 4px;
    padding: 10px 14px;
}

.submit-btn {
    background: rgb(22, 29, 39);
    border: 2px solid transparent;
    color: white;
}

.submit-btn:hover {
    background: rgb(55, 63, 75);
    border: 2px solid #adadad;
}

.submit-btn-disabled {
    background: rgb(82, 91, 104);
    border: 2px solid transparent;
    color: rgb(221, 221, 221);
}

.submit-wordcount {
    color: rgb(144, 144, 144);
    font-weight: 700;
}

.submit-wordcount-max {
    color: rgb(211, 63, 63);
}

.submit-genre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.submit-radio {
    display: inline-block;
    border: 2px solid rgb(22, 29, 39);
    margin-top: 10px;
    border-radius: 4px;
    padding: 4px 0;
    cursor: pointer;
    text-align: center;
}

#romantic:hover {
    background: var(--romantic)
}

#platonic:hover {
    background: var(--platonic)
}

#senti:hover {
    background: var(--senti)
}

#random:hover {
    background: var(--random)
}


.dark .submit-story {
    background: rgb(35, 44, 57);
    border-top: 45px dotted rgb(22, 29, 39);
}

.dark .submit-header h1 {
    color: rgb(236, 236, 236);
}

.dark .submit-header p {
    color: rgb(190, 190, 190);
}

.dark .submit-body form span,
.dark .submit-body .submit-genre-desc {
    color: rgb(215, 215, 215);
}

.dark .submit-body form input[type=text],
.dark .submit-body textarea {
    color: rgb(215, 215, 215);
    border-bottom: 3px dashed rgb(144, 144, 144);
}

.dark .submit-btn {
    background: rgb(241, 240, 233);
    color: black;
}

.dark .submit-btn:hover {
    background: rgb(202, 200, 190);
    border: 2px solid #6b6b6b;
}

.dark .submit-wordcount {
    color: rgb(158, 158, 158);
}

.dark .submit-wordcount-max {
    color: rgb(176, 64, 64);
}

.dark .submit-radio {
    color: rgb(215, 215, 215);
    border: 2px solid rgb(188, 188, 188);
}

.dark #romantic:hover {
    background: var(--romantic-dark)
}

.dark #platonic:hover {
    background: var(--platonic-dark)
}

.dark #senti:hover {
    background: var(--senti-dark)
}

.dark #random:hover {
    background: var(--random-dark)
}